/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.main-content {
  height: 80vh;
  display: flex;
  width: 60%;
  margin: 100px auto 0 auto;
}

#background {
  background-image: url("/images/bgtile.png");
  background-repeat: repeat-x;
}

.phones {
  margin-right: 70px;
}

.right-column {
  width: 500px;
}

.logo-and-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#log-in-button {
  /* background-color: #1c5380;
  background-image: url("/images/frame.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light; */
  box-shadow: 0px 0px 4px #06365f;
  width: 25%;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  height: 40px;
  text-align: center;
  font-weight: 700;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#log-in-button > img {
  margin-right: 10px;
}

.text-box {
  background-color: white;
  border-radius: 4px;
  padding: 18px 40px;
  margin-top: 30px;
  box-shadow: 0px -25px 35px 2px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #06365f;
  font-size: 2rem;
  font-weight: 800;
}

.downloads {
  margin-top: 50px;
}

footer {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul {
  list-style: none;
  display: flex;
}

li a {
  margin-right: 20px;
  font-weight: 600;
  color: #06365f;
  text-decoration: none;
}
